//colors
$black: #292929;
$main-orange: #FD531E;
$white: white;
$white-bg: #f6f7f9;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans&display=swap');

$nunito: 'Nunito Sans', sans-serif;
$barlow: 'Barlow', sans-serif;