@import '../base/variables';

header.navbar{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    position: sticky;
    top: 0;

    div.logo{

        width: 100%;
        padding: 10px;
        color: $main-orange;
        font-size: 2rem;
        font-family: $barlow;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

    }

    nav.nav-links{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;
        gap: 5px;

        a{

            padding: 5px;
            margin: 5px 0;
            text-decoration: none;
            color: $white;
            font-weight: 600;
            transition: $general-transition;

            &.active{

                color: $main-orange;
                border-left: solid 2px $main-orange;

            }

        }
        
    }

    div.user-info{

        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 1.5rem;
        text-align: center;
        border-top: solid 1px $white-bg;

        div.cntr-photo{
            
            width: 60px;
            height: 60px;
            border-radius: 100%;
            overflow: hidden;

            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

        }

    }
    
}