@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #292929;
}

div#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #292929;
  transition: all 0.3s ease-in-out;
}
div#root main {
  width: 100%;
  min-height: 100vh;
  flex-grow: 1;
  margin-left: 20px;
  border-radius: 25px 0 0 25px;
  background-color: #f6f7f9;
}

div.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.loader::before {
  content: "K";
  font-size: 3rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #FD531E;
}
div.loader::after {
  content: "";
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: #FD531E;
  animation: loader-animation 0.5s linear infinite alternate;
}

@keyframes loader-animation {
  from {
    width: 10px;
    background-color: transparent;
  }
}
header.navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  position: sticky;
  top: 0;
}
header.navbar div.logo {
  width: 100%;
  padding: 10px;
  color: #FD531E;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header.navbar nav.nav-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 5px;
}
header.navbar nav.nav-links a {
  padding: 5px;
  margin: 5px 0;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
header.navbar nav.nav-links a.active {
  color: #FD531E;
  border-left: solid 2px #FD531E;
}
header.navbar div.user-info {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  border-top: solid 1px #f6f7f9;
}
header.navbar div.user-info div.cntr-photo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}
header.navbar div.user-info div.cntr-photo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

main.main-welcome {
  width: 100%;
  height: 100%;
  padding: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Barlow", sans-serif;
}
main.main-welcome h2 {
  font-size: 4rem;
  font-weight: 700;
}
main.main-welcome h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
main.main-welcome a {
  padding: 8px 10px;
  border: solid 2px #FD531E;
  border-radius: 5px;
  color: #FD531E;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}
main.main-welcome a:hover {
  background-color: #FD531E;
  color: white;
}

/*# sourceMappingURL=index.css.map */
